In [1]:
import pandas as pd

Starting with subsets of the data

In [5]:
beauty_dataset=pd.read_json('data/ref/All_Beauty_5.json', lines=True)
beauty_dataset.head(5)

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image
0,5,True,"09 1, 2016",A3CIUOJXQ5VDQ2,B0000530HU,"{'Size:': ' 7.0 oz', 'Flavor:': ' Classic Ice ...",Shelly F,As advertised. Reasonably priced,Five Stars,1472688000,NaN,NaN
1,5,True,"11 14, 2013",A3H7T87S984REU,B0000530HU,"{'Size:': ' 7.0 oz', 'Flavor:': ' Classic Ice ...",houserules18,Like the oder and the feel when I put it on my...,Good for the face,1384387200,NaN,NaN
2,1,True,"08 18, 2013",A3J034YH7UG4KT,B0000530HU,"{'Size:': ' 7.0 oz', 'Flavor:': ' Classic Ice ...",Adam,I bought this to smell nice after I shave. Wh...,Smells awful,1376784000,NaN,NaN
3,5,False,"05 3, 2011",A2UEO5XR3598GI,B0000530HU,"{'Size:': ' 7.0 oz', 'Flavor:': ' Classic Ice ...",Rich K,HEY!! I am an Aqua Velva Man and absolutely lo...,Truth is There IS Nothing Like an AQUA VELVA MAN.,1304380800,25,NaN
4,5,True,"05 6, 2011",A3SFRT223XXWF7,B00006L9LC,{'Size:': ' 200ml/6.7oz'},C. C. Christian,If you ever want to feel pampered by a shampoo...,Bvlgari Shampoo,1304640000,3,NaN

In [6]:
beauty_dataset['style']

0       {'Size:': ' 7.0 oz', 'Flavor:': ' Classic Ice ...
1       {'Size:': ' 7.0 oz', 'Flavor:': ' Classic Ice ...
2       {'Size:': ' 7.0 oz', 'Flavor:': ' Classic Ice ...
3       {'Size:': ' 7.0 oz', 'Flavor:': ' Classic Ice ...
4                               {'Size:': ' 200ml/6.7oz'}
                              ...
5264                       {'Design:': ' ETA-C6B5F7C374'}
5265                       {'Design:': ' ETA-7117EE3788'}
5266                       {'Design:': ' ETA-BF66BD2F87'}
5267                       {'Design:': ' ETA-03868FCB34'}
5268                       {'Design:': ' ETA-C4893097E9'}
Name: style, Length: 5269, dtype: object

In [7]:
beauty_dataset.drop(['style','image'], axis=1).describe(include='all') #style and image are causing issues with describe()

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote
count,5269.000000,5269,5269,5269,5269,5269,5264,5264,5.269000e+03,552
unique,NaN,2,883,991,85,905,1363,1011,NaN,24
top,NaN,True,"07 14, 2016",AKJHHD5VEH7VG,B0012Y0ZG2,Amazon Customer,Great product,Five Stars,NaN,2
freq,NaN,4280,33,12,1794,362,15,1455,NaN,238
mean,4.771873,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.441506e+09,NaN
std,0.743204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.473127e+07,NaN
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.095725e+09,NaN
25%,5.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.407024e+09,NaN
50%,5.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.445645e+09,NaN
75%,5.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.481674e+09,NaN
max,5.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.534982e+09,NaN

The dataset contains 5264 reviews for 85 Beauty products from 991 reviewers

In [14]:
iphone_dataset=pd.read_json('data/apple_iphone_11_reviews.json', orient='records')
iphone_dataset.head()

,product,helpful_count,total_comments,url,review_country,reviewed_at,review_text,review_rating,product_company,profile_name,review_title
0,Apple iPhone XR (64GB) - Black,"5,087 people found this helpful",24,https://www.amazon.in/Apple-iPhone-XR-64GB-Bla...,India,2018-12-12,NOTE:,3.0 out of 5 stars,Apple,Sameer Patil,"Which iPhone you should Purchase ? iPhone 8, X..."
1,Apple iPhone XR (64GB) - Black,"2,822 people found this helpful",6,https://www.amazon.in/Apple-iPhone-XR-64GB-Bla...,India,2018-11-17,Very bad experience with this iPhone xr phone....,1.0 out of 5 stars,Apple,Amazon Customer,Don't buy iPhone xr from Amazon.
2,Apple iPhone XR (64GB) - Black,"1,798 people found this helpful",0,https://www.amazon.in/Apple-iPhone-XR-64GB-Bla...,India,2019-01-27,Amazing phone with amazing camera coming from ...,5.0 out of 5 stars,Apple,A,Happy with the purchase
3,Apple iPhone XR (64GB) - Black,"1,366 people found this helpful",14,https://www.amazon.in/Apple-iPhone-XR-64GB-Bla...,India,2019-05-02,So I got the iPhone XR just today. The product...,1.0 out of 5 stars,Apple,Shubham Dutta,Amazon is not an apple authorised reseller. Pl...
4,Apple iPhone XR (64GB) - Black,536 people found this helpful,5,https://www.amazon.in/Apple-iPhone-XR-64GB-Bla...,India,2019-05-24,I've been an android user all my life until I ...,5.0 out of 5 stars,Apple,Nepuni Lokho,Excellent Battery life and buttery smooth UI

In [16]:
iphone_dataset.describe(include='all')

,product,helpful_count,total_comments,url,review_country,reviewed_at,review_text,review_rating,product_company,profile_name,review_title
count,5010,5010,5010.000000,5010,5010,5010,5010,5010,5010,5010,5010
unique,1,49,NaN,500,1,411,4089,5,1,4099,3104
top,Apple iPhone XR (64GB) - Black,0,NaN,https://www.amazon.in/Apple-iPhone-XR-64GB-Bla...,India,2019-11-03 00:00:00,Good,5.0 out of 5 stars,Apple,Amazon Customer,Good
freq,5010,4270,NaN,20,5010,107,146,3731,5010,550,209
first,NaN,NaN,NaN,NaN,NaN,2018-11-01 00:00:00,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,2020-04-22 00:00:00,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,0.030938,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,0.589420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,24.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In this dataset, we have 5010 reviews of Apple Iphone 11. 
A couple of comments :
* The reviews are coming from a very large number of different customers
* The structure is very similar to the beauty products dataset even though the source is not exactly the same
* We can drop the product_company column, it does not bring any value

In [19]:
appliances_dataset=pd.read_json('data/ref/Appliances_5.json', lines=True)
appliances_dataset.head()

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image
0,5,True,"08 22, 2013",A34A1UP40713F8,B00009W3I4,{'Style:': ' Dryer Vent'},James. Backus,I like this as a vent as well as something tha...,Great product,1377129600,NaN,NaN
1,5,True,"02 8, 2016",A1AHW6I678O6F2,B00009W3PA,{'Size:': ' 6-Foot'},kevin.,good item,Five Stars,1454889600,NaN,NaN
2,5,True,"08 5, 2015",A8R48NKTGCJDQ,B00009W3PA,{'Size:': ' 6-Foot'},CDBrannom,Fit my new LG dryer perfectly.,Five Stars,1438732800,NaN,NaN
3,5,True,"04 24, 2015",AR3OHHHW01A8E,B00009W3PA,{'Size:': ' 6-Foot'},Calvin E Reames,Good value for electric dryers,Perfect size,1429833600,NaN,NaN
4,5,True,"03 21, 2015",A2CIEGHZ7L1WWR,B00009W3PA,{'Size:': ' 6-Foot'},albert j. kong,Price and delivery was excellent.,Five Stars,1426896000,NaN,NaN

Same source than beauty dataset

The beauty and the appliances datasets are subsets of a bigger dataset. For this main dataset, metada are provided to give more info about the products. Let's explore those metada

In [22]:
meta_data=pd.read_json('data/ref/meta_data.json', lines=True)
meta_data.head()

,description,title,image,brand,rank,main_cat,date,asin,feature,tech1,also_buy,price,also_view,tech2,details,similar_item
0,[Brand new. Still in factory-sealed plastic.],Kelby Training DVD: The Adobe Photoshop CS5 7-...,[https://images-na.ssl-images-amazon.com/image...,Kelby Training,"[>#654,681 in Electronics (See Top 100 in Elec...",Computers,2011-12-02,0321732960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,[If you're already a Photoshop user and want a...,Kelby Training DVD: Adobe Photoshop CS5 Power ...,[https://images-na.ssl-images-amazon.com/image...,Kelby Training,"[>#830,165 in Electronics (See Top 100 in Elec...",Computers,2011-11-07,0321735722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,[School To Home Notes: Note From the Teacher!\...,TEACHERS FRIEND NOTE FROM THE TEACHER SCHOOL T...,[https://images-na.ssl-images-amazon.com/image...,TEACHERS FRIEND,"[>#1,233,887 in Electronics (See Top 100 in El...",Computers,2007-06-06,0439651859,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,[Dooqi is a young brand specializing in high-e...,"[3-pack]Ipad Mini Screen Protector, Dooqi Scre...",[https://images-na.ssl-images-amazon.com/image...,dooqi,"[>#454,595 in Electronics (See Top 100 in Elec...",Computers,2014-12-05,0545729971,"[Hard coated for Scratch Proof (Hardness: 4H),...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,[Cover for Nook HD],Hd+ Cheetah Cover- Nook,NaN,Nook,"[>#85,661 in Computers & Accessories (See top ...",Computers,2013-09-11,0594450284,[Cheetah cover],"{'Brand Name': 'Nook', 'Item Weight': '1 pound...",NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
meta_data[['asin','description','title','date','brand']].describe(include='all')

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1652, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

,asin,description,title,date,brand
count,18772,5130,18771,18588,18295
unique,18521,4437,18417,3042,5785
top,B00006L39I,[],onepix Hard Case for MacBook,2016-06-16 00:00:00,HP
freq,2,122,7,404,212
first,NaN,NaN,NaN,1973-09-04 00:00:00,NaN
last,NaN,NaN,NaN,2019-01-08 00:00:00,NaN

There are a couple of duplicates in the dataset

For more info about the dataset, please check https://nijianmo.github.io/amazon/index.html